
{% import 'macros.html' as macro%}

{% extends 'base.html'%}



{% block content %}
<!-- 
<html class="no-js" lang="">
    <head> -->
        <!-- <meta charset="utf-8"> -->
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> No Pitches </title>
        {% endif %}
        
    
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Old+Standard+TT|Roboto" rel="stylesheet">


        
    <!-- </head> -->
    <!-- <body style="height:auto;"> -->
        <div class="container">
                <h1 class="text-center"> <a href="/pitch/new">USE THAT ONE MINUTE WISELY. <br> Submit your one minute pitches and other users will vote and comment on them.</a></h1>
        </div>



        <div class="container-fluid" style="margin:6px 28px;">
                <div class="categories">
            
                        <ul class="nav nav-pills nav-fill nav-justified nav-success">

                                <li class="nav-item">
                                    <a data-toggle="pill" href="#interview">Interview</a></li>
                                <li class="active nav-item">
                                    <a data-toggle="pill" href="#product">Product</a></li>
                                <li class="nav-item">
                                    <a data-toggle="pill" href="#promotion">Promotion</a></li>
                                <li class="nav-item">
                                    <a data-toggle="pill" href="#business">Business</a></li>
                              </ul>
            
                    </div>
        </div>
        

        <div class="tab-content" style="margin:10px;">
                    <div id="interview" class="tab-pane fade in active">
                            <div class="col-md-4" style="float:left">
                                 {{macro.displayCategory(interview)}}
                            </div>

                        </div>

                    <div id="product" class="tab-pane fade">
                         <div class="col-md-4" style="float:left">

                            {{macro.displayCategory(product)}}
                        </div>
                    </div>
                    <div id="promotion" class="tab-pane fade">
                        <div class="col-md-4">
                            {{macro.displayCategory(promotion)}}
                        </div>
                    </div>
                    <div id="business" class="tab-pane fade">
                            <div class="col-md-4">
                                {{macro.displayCategory(business)}}
                            </div>
                    </div>
                  </div>
                 
         
      
                
    
    <!-- </body> -->
<!-- </html> -->
{% endblock %}
