<!-- 
{% import 'macros.html' as macro%}

{% extends 'base.html'%} -->



{% block content %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> noPitches </title>
        {% endif %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Old+Standard+TT|Roboto" rel="stylesheet">


        
    </head>
    <body>
        WElcome to the Pitch
        <div class="container text-center">
            
            {% for pitch in pitches %}
          <h2>{{pitch.body}} <span> posted on {{pitch.posted}}</span></h2>
          <!-- <h2>{{pitch.body}}</h2> -->
            
            {% endfor %}
            </div>

        </div>
        
    </body>
</html>
{% endblock %}
