{% macro displayCategory(category) %}
    {% for pitch in category %}
    <div class="container col-lg-4">



                         <h1>{{pitch.body}}</h1>
            </div>
    {% endfor %}
{% endmacro %}

<!-- Displaying comments macro -->
<!--{% macro displayComments(comment_list) %}-->
    <!--{% for comment in comment_list %}-->
    <!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 comment-card">-->
        <!--<p> {{ comment.body}} </p>-->
        <!--<p> {{ comment.vote}}</p>-->
        <!--<p><i>{{ comment.author }}</i></p>-->
    <!--</div>-->
    <!--{% endfor %}-->
<!--{% endmacro %}-->