{% macro displayComments(comments_list)%}



        {% for comment in comments_list %}



        <div class="row">



                    <div class="col-md-4">
                        <a href="#">{{comment.user.username}}</a>
                        <p>{{comment.the_comment}}</p>

                    </div>

        </div>
        {% endfor %}
{% endmacro %}

<!-- {% macro displayCategory(category) %}
    {% for pitch in category %}
    <div class="container">
        <div class="row" style="width:200%;">
            <col-md-12>
                <h3>{{pitch.body}} ... Posted by <a href="#">{{pitch.user.username}}</a></h3>

          <a href="/pitch/{{pitch.id}}" style=""><h4>Add Comment | View Comments</h4></a>

            </col-md-12>

        </div>





            </div>
    {% endfor %}
{% endmacro %} -->

{% macro displayCategory(category) %}
    {% for pitch in category %}
   
<div class="container col-md-12">


        <div class="panel panel-success" style="height:100%;float:left;width:100%;margin-bottom:10%;margin-left:0%;border:3px double #0E5582;">
            
            <div class="panel-body">
                <p>{{ pitch.body}}</p>
               
                 <!-- <p><i>Posted At: </i><b>{{pitch.posted}}</b></p> -->
            </div>
            <div class="panel-footer">
                    <h4><i>Posted By : </i><b>{{pitch.user.username}}</b></h4>

            </div>
            <div class="panel-footer">
                    <a href="/pitch/{{pitch.id}}" style=""><h4>Add Comment | View Comments</h4></a>

            </div>
        </div>
    </div> 
    {% endfor %}
    {% endmacro %}
    